body {
  margin: 0;
  font-family: "Halant", serif;
  font-family: "Nunito Sans", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Halant", serif;
  font-family: "Nunito Sans", sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}

h1 {
  font-family: "Halant", serif;
}

h6 {
  font-family: "Halant", serif;
  padding-top: 10px;
}

#title {
  font-size: 3rem;
}

#by {
  font-size: 1.15rem;
}

#emojis {
  height: 4rem !important;
}

.emojis {
  height: 4rem;
}

#logo {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  margin-left: 130px;
}

#pnp {
  height: 20px;
  width: 18px;
}

p {
  font-family: "Nunito Sans", sans-serif;
}

#btn {
  font-family: "Halant", serif;
}

#modalbtn {
  font-family: "Halant", serif;
  margin-left: 160px;
}

#modal {
  font-family: "Nunito Sans", sans-serif;
}

#modalheader {
  background-color: blue;
  /* background: url(https://thumbs.dreamstime.com/t/republic-philippines-national-flag-grunge-background-abstract-design-flag-style-philippines-135370325.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  font-family: "Halant", serif;
}

#district {
  font-size: 1.1rem;
}

#city {
  font-size: 1rem;
}

#location {
  font-size: 1rem;
}

#bold {
  font-weight: 900;
}

#bold1 {
  font-weight: 900;
  font-size: 1rem;
}

#modallabel {
  font-weight: 900;
}
